<footer class="footer container-fluid bg-light">
	<div class="logo-footer">
		<a class="navbar-brand" href="{{ path('app_home') }}">
			<img src="{{ asset('assets/uploads/logos/logo.png') }}" width="50" height="50"/>
		</a>
		<h3>ZAYAM</h3>
	</div>
	<div class="socials">
		<h4>Suivez-nous sur nos réseaux sociaux !</h4>
		<div class="instagram-logo">
			<a href="https://www.instagram.com/zayam.off/" target="_blank"><img src="{{ asset('assets/uploads/svg/instagram.svg') }}" width="35" height="35"/></a>
		</div>
		<div class="tiktok-logo">
			<a href="https://www.tiktok.com/@en_quete_dislam?is_from_webapp=1&sender_device=pc" target="_blank"><img src="{{ asset('assets/uploads/svg/tiktok.svg') }}" width="35" height="35"/></a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="newsletter">
				<h4>Newsletter</h4>
				<p>Inscrivez-vous à notre newsletter pour recevoir toutes les promotions et les actulités.</p>
			</div>
		</div>

		<div class="col-4">
			<h4>Menu pied de page</h4>
			<p>Contact</p>
			<p>Mentions légales</p>
			<p>Politique de confidentialité</p>
			<p>Politique de retours</p>
		</div>
	</div>
	<div class="copyright-text">
		<p>Zayam© - Tous droits réservés - 2024</p>
	</div>
</footer>
