<footer class="footer container-fluid">
	<div class="footer-container">
		<div>
			<div class="newsletter">
				<h4>Newsletter</h4>
				<p>Inscrivez-vous à notre newsletter pour recevoir toutes les promotions et les actulités.</p>
				<input type="email" id="email" pattern=".+@example\.com" size="30" required />
			</div>
		</div>

		<div class="pied-de-page">
			<h4>Menu pied de page</h4>
			<div class="liens-utiles">
				<a href="{{ path('app_contact') }}">Contact</a>
				<a href="{{ path('mentions_legales') }}">Mentions légales</a>
				<a href="{{ path('politique_confidentialite') }}">Politique de confidentialité</a>
				<a href="{{ path('politique_retours') }}">Politique de retours</a>
			</div>
			
		</div>
	</div>
	<div class="copyright-text">
		<p>Zayam© - Tous droits réservés - 2024</p>
	</div>
</footer>
