<h2>Ce que nos clients pensent</h2>
<!-- Slideshow container -->
<div
	class="slideshow-container">

	<!-- Full-width slides/quotes -->
	<div class="mySlides">
		<p class="author">Rayane</p>
		<h3>Short de bain awra</h3>
		<p>Beau boulot !</p>
	</div>

	<div class="mySlides">
		<p class="author">Naim</p>
		<h3>Short de bain awra</h3>
		<p>Agréablement surpris les ils ont conçu un short de qualité, j'ai bien évidemment pu le tester on se sent à l'aise dedans. J'aime beaucoup aussi leur logo !</p>
	</div>

	<div class="mySlides">
		<p class="author">Ryad</p>
		<h3>Short de bain awra</h3>
		<p>Merci</p>
	</div>

	<!-- Dots/bullets/indicators -->
	<div class="dot-container">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
	</div>
	<!-- Next/prev buttons -->
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
