@charset "UTF-8";
.container-flex {
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .container-flex {
    padding: 0 5rem;
  }
}
@media only screen and (min-width: 990px) {
  .container-flex {
    padding: 0 10rem;
  }
}

.img-home {
  height: 48vh;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
  .img-home {
    height: 60vh;
  }
}
@media only screen and (min-device-width: 991px) {
  .img-home {
    height: 80vh;
  }
}
.img-home .img-container {
  height: 36vh;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
  .img-home .img-container {
    height: 60vh;
  }
}
@media only screen and (min-device-width: 991px) {
  .img-home .img-container {
    height: 80vh;
  }
}
.img-home .img-container .img-plage {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-home .text-presentation {
  position: absolute;
  right: 10%;
  top: 34%;
  width: 80%;
  padding: 1.5rem 1.5rem;
  text-align: center;
  background-color: rgba(241, 241, 241, 0.5);
}
@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
  .img-home .text-presentation {
    right: 16%;
    top: 33%;
    width: 69%;
  }
}
@media only screen and (min-device-width: 991px) {
  .img-home .text-presentation {
    right: 20%;
    top: 34%;
    width: 60%;
    padding: 3rem 1.5rem;
  }
}
.img-home .text-presentation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1; /* Couleur de fond originale */
  opacity: 0.5; /* Opacité de la div principale */
}
.img-home .text-presentation .content-container {
  position: relative; /* Ajout de position relative pour empiler correctement les éléments */
  z-index: 1;
}
.img-home .text-presentation .content-container h1 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
  .img-home .text-presentation .content-container h1 {
    font-size: 25px;
    padding-bottom: 1rem;
  }
}
@media only screen and (min-device-width: 991px) {
  .img-home .text-presentation .content-container h1 {
    font-size: 33px;
    padding-bottom: 2rem;
  }
}
.img-home .text-presentation .content-container p {
  margin: 0;
  font-size: 14px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
  .img-home .text-presentation .content-container p {
    font-size: 16px;
  }
}
@media only screen and (min-device-width: 991px) {
  .img-home .text-presentation .content-container p {
    font-size: 20px;
  }
}

.product-wrapper {
  padding: 30px 0;
}
@media only screen and (min-width: 768px) {
  .product-wrapper {
    display: flex;
    align-items: center;
  }
}
.product-wrapper .selector-infos .boutton {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  background-color: #a3c2e1;
}
.product-wrapper .product-name {
  text-align: center;
}

.image-with-text1 .img-text-container {
  padding: 30px 0;
}
.image-with-text1 .img-text-container .image {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 768px) {
  .image-with-text1 .img-text-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .image-with-text1 .img-text-container .image {
    width: 50%;
  }
}
.image-with-text1 .img-text-container .img-text1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.image-with-text1 .img-text-container .img-text-description h3 {
  font-size: 20px;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1024px) {
  .image-with-text1 .img-text-container .img-text-description h3 {
    font-size: 25px;
  }
}
.image-with-text1 .img-text-container .img-text-description p {
  font-size: 15px;
  line-height: 2.2rem;
}
@media only screen and (min-width: 1024px) {
  .image-with-text1 .img-text-container .img-text-description p {
    font-size: 20px;
    line-height: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .image-with-text1 .img-text-container .img-text-description {
    width: 50%;
    margin-right: 4rem;
  }
}
.image-with-text1 .img-text-container .img-text-description h3,
.image-with-text1 .img-text-container .img-text-description p {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .image-with-text2 {
    display: flex;
    align-items: center;
  }
}
.image-with-text2 .images-block {
  padding: 30px 0;
}
@media only screen and (min-width: 768px) {
  .image-with-text2 .images-block {
    width: 50%;
  }
}
.image-with-text2 .images-block .img-small {
  width: 45vw;
  right: 46%;
  position: absolute;
  z-index: 1;
  box-shadow: 10px 10px 40px 5px rgba(0, 0, 0, 0.55);
}
.image-with-text2 .images-block .img-small .img-1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .image-with-text2 .images-block .img-small {
    width: 25vw;
    right: 65%;
  }
}
@media only screen and (min-device-width: 991px) {
  .image-with-text2 .images-block .img-small {
    width: 19vw;
    right: 65%;
  }
}
.image-with-text2 .images-block .img-large {
  width: 50vw;
  position: relative;
  left: 40%;
  margin-top: 60px;
  box-shadow: 10px 10px 40px 5px rgba(0, 0, 0, 0.55);
}
.image-with-text2 .images-block .img-large .img-2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .image-with-text2 .images-block .img-large {
    width: 25vw;
    left: 35%;
  }
}
@media only screen and (min-device-width: 991px) {
  .image-with-text2 .images-block .img-large {
    width: 21vw;
    left: 35%;
  }
}
.image-with-text2 .description {
  padding: 30px 0;
}
@media only screen and (min-width: 768px) {
  .image-with-text2 .description {
    width: 50%;
  }
}
.image-with-text2 .description .text-content {
  text-align: center;
  background-color: #a3c2e1;
  padding: 1rem;
}
.image-with-text2 .description .text-content h3 {
  font-size: 20px;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1024px) {
  .image-with-text2 .description .text-content h3 {
    font-size: 25px;
  }
}
.image-with-text2 .description .text-content p {
  font-size: 15px;
  line-height: 2.2rem;
  margin: 0;
}
@media only screen and (min-width: 1024px) {
  .image-with-text2 .description .text-content p {
    font-size: 20px;
    line-height: 3rem;
  }
}

.footer {
  background-color: #a3c2e1;
}
.footer .footer-container {
  padding: 2rem 0;
}
@media only screen and (min-width: 768px) {
  .footer .footer-container {
    display: flex;
    justify-content: space-evenly;
  }
}
.footer .footer-container .newsletter {
  padding-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  .footer .footer-container .newsletter {
    width: 80%;
  }
}
.footer .footer-container .pied-de-page .liens-utiles {
  display: inline-grid;
}
.footer .footer-container .pied-de-page .liens-utiles a {
  text-decoration: none;
  color: #595959;
}
.footer .copyright-text {
  text-align: center;
}
.footer .copyright-text p {
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */