@charset "UTF-8";
.container-flex {
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .container-flex {
    padding: 0 5rem;
  }
}
@media only screen and (min-width: 990px) {
  .container-flex {
    padding: 0 10rem;
  }
}

.img-home {
  height: 48vh;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
  .img-home {
    height: 60vh;
  }
}
@media only screen and (min-device-width: 991px) {
  .img-home {
    height: 80vh;
  }
}
.img-home .img-container {
  height: 36vh;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
  .img-home .img-container {
    height: 60vh;
  }
}
@media only screen and (min-device-width: 991px) {
  .img-home .img-container {
    height: 80vh;
  }
}
.img-home .img-container .img-plage {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-home .text-presentation {
  position: absolute;
  right: 10%;
  top: 34%;
  width: 80%;
  padding: 1.5rem 1.5rem;
  text-align: center;
  background-color: rgba(241, 241, 241, 0.5);
}
@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
  .img-home .text-presentation {
    right: 16%;
    top: 33%;
    width: 69%;
  }
}
@media only screen and (min-device-width: 991px) {
  .img-home .text-presentation {
    right: 20%;
    top: 34%;
    width: 60%;
    padding: 3rem 1.5rem;
  }
}
.img-home .text-presentation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1; /* Couleur de fond originale */
  opacity: 0.5; /* Opacité de la div principale */
}
.img-home .text-presentation .content-container {
  position: relative; /* Ajout de position relative pour empiler correctement les éléments */
  z-index: 1;
}
.img-home .text-presentation .content-container h1 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
  .img-home .text-presentation .content-container h1 {
    font-size: 25px;
    padding-bottom: 1rem;
  }
}
@media only screen and (min-device-width: 991px) {
  .img-home .text-presentation .content-container h1 {
    font-size: 33px;
    padding-bottom: 2rem;
  }
}
.img-home .text-presentation .content-container p {
  margin: 0;
  font-size: 14px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
  .img-home .text-presentation .content-container p {
    font-size: 16px;
  }
}
@media only screen and (min-device-width: 991px) {
  .img-home .text-presentation .content-container p {
    font-size: 20px;
  }
}

.product-wrapper {
  padding: 30px 0;
}
@media only screen and (min-width: 768px) {
  .product-wrapper {
    display: flex;
    align-items: center;
  }
}
.product-wrapper .product-name {
  text-align: center;
}
.product-wrapper .btn-productWrapper {
  text-align: center;
  padding-top: 2rem;
}
.product-wrapper .btn-productWrapper .boutton {
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  background-color: #A3C2E1;
}

.image-with-text1 .img-text-container {
  padding: 30px 0;
}
.image-with-text1 .img-text-container .image {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 768px) {
  .image-with-text1 .img-text-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .image-with-text1 .img-text-container .image {
    width: 50%;
  }
}
.image-with-text1 .img-text-container .img-text1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.image-with-text1 .img-text-container .img-text-description h3 {
  font-size: 20px;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1024px) {
  .image-with-text1 .img-text-container .img-text-description h3 {
    font-size: 25px;
  }
}
.image-with-text1 .img-text-container .img-text-description p {
  font-size: 15px;
  line-height: 2.2rem;
}
@media only screen and (min-width: 1024px) {
  .image-with-text1 .img-text-container .img-text-description p {
    font-size: 20px;
    line-height: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .image-with-text1 .img-text-container .img-text-description {
    width: 50%;
    margin-right: 4rem;
  }
}
.image-with-text1 .img-text-container .img-text-description h3, .image-with-text1 .img-text-container .img-text-description p {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .image-with-text2 {
    display: flex;
    align-items: center;
  }
}
.image-with-text2 .images-block {
  padding: 30px 0;
}
@media only screen and (min-width: 768px) {
  .image-with-text2 .images-block {
    width: 50%;
  }
}
.image-with-text2 .images-block .img-small {
  width: 45vw;
  right: 46%;
  position: absolute;
  z-index: 1;
  box-shadow: 10px 10px 40px 5px rgba(0, 0, 0, 0.55);
}
.image-with-text2 .images-block .img-small .img-1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .image-with-text2 .images-block .img-small {
    width: 25vw;
    right: 65%;
  }
}
@media only screen and (min-device-width: 991px) {
  .image-with-text2 .images-block .img-small {
    width: 19vw;
    right: 65%;
  }
}
.image-with-text2 .images-block .img-large {
  width: 50vw;
  position: relative;
  left: 40%;
  margin-top: 60px;
  box-shadow: 10px 10px 40px 5px rgba(0, 0, 0, 0.55);
}
.image-with-text2 .images-block .img-large .img-2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .image-with-text2 .images-block .img-large {
    width: 25vw;
    left: 35%;
  }
}
@media only screen and (min-device-width: 991px) {
  .image-with-text2 .images-block .img-large {
    width: 21vw;
    left: 35%;
  }
}
.image-with-text2 .description {
  padding: 30px 0;
}
@media only screen and (min-width: 768px) {
  .image-with-text2 .description {
    width: 50%;
  }
}
.image-with-text2 .description .text-content {
  text-align: center;
  background-color: #A3C2E1;
  padding: 1rem;
}
.image-with-text2 .description .text-content h3 {
  font-size: 20px;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1024px) {
  .image-with-text2 .description .text-content h3 {
    font-size: 25px;
  }
}
.image-with-text2 .description .text-content p {
  font-size: 15px;
  line-height: 2.2rem;
  margin: 0;
}
@media only screen and (min-width: 1024px) {
  .image-with-text2 .description .text-content p {
    font-size: 20px;
    line-height: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .product-wrapper {
    display: flex;
  }
}

.boutton {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  background-color: #A3C2E1;
}

@media only screen and (min-width: 992px) {
  .desc-faq {
    display: flex;
  }
}
.desc-faq .parag-desc {
  margin-top: 2rem;
}
@media only screen and (min-width: 992px) {
  .desc-faq .parag-desc {
    width: 50%;
  }
}

.product-desc {
  margin-bottom: 5rem;
}
.product-desc .img-text-product1 {
  margin-bottom: 5rem;
}
.product-desc .img-text-product1 .img-product-desc {
  margin-bottom: 2rem;
}
.product-desc .img-text-product1 .img-text-desc h3 {
  font-size: 20px;
  margin-bottom: 2rem;
}
.product-desc .img-text-product1 .img-text-desc p {
  margin-bottom: 1.5rem;
}
.product-desc .img-text-product1 .img-text-desc span {
  font-size: 16px;
}
.product-desc .img-text-product1 .img-text-desc li {
  line-height: 2rem;
}
.product-desc .img-text-product1 .img-text-desc p, .product-desc .img-text-product1 .img-text-desc li {
  font-size: 15px;
}
@media only screen and (min-width: 768px) {
  .product-desc .img-text-product1 {
    display: flex;
  }
}
.product-desc .img-text-product1 .img-product-desc {
  width: auto;
  height: auto;
}
.product-desc .img-text-product1 .img-product-desc img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .product-desc .img-text-product2 {
    display: flex;
  }
}
.product-desc .img-text-product2 .img-product-desc {
  width: auto;
  height: auto;
  margin-bottom: 2rem;
}
.product-desc .img-text-product2 .img-product-desc img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.product-desc .img-text-product2 .img-text-desc h3 {
  font-size: 20px;
  margin-bottom: 2rem;
}
.product-desc .img-text-product2 .img-text-desc h5 {
  font-size: 18px;
}
.product-desc .img-text-product2 .img-text-desc p {
  font-size: 15px;
  line-height: 2rem;
}

.container {
  margin: 0 auto;
  padding: 1rem 0;
}

.accordion .accordion-item {
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 0 15px;
  margin-top: 1rem;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #000000;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #000000;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #A3C2E1;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #A3C2E1;
  border: 1px solid #A3C2E1;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #A3C2E1;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  color: #000000;
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem 0;
}

h2 {
  text-align: center;
}

.slideshow-container {
  position: relative;
  background-color: rgba(163, 194, 225, 0.35);
}
@media only screen and (min-width: 992px) {
  .slideshow-container {
    margin: 0 15rem;
  }
}
.slideshow-container .mySlides {
  display: none;
  padding: 30px 80px 30px 80px;
  text-align: center;
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot-container {
  text-align: center;
  padding: 0px 10px 10px 10px;
}
.dot-container .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot-container .dot:hover, .dot-container .dot.active {
  background-color: #717171;
}

p {
  font-size: 20px;
}

h3 {
  font-size: 25px;
}

.author {
  font-size: 25px;
}

.footer {
  background-color: #A3C2E1;
}
.footer .footer-container {
  padding: 2rem 0;
}
@media only screen and (min-width: 768px) {
  .footer .footer-container {
    display: flex;
  }
}
.footer .footer-container .newsletter {
  padding-bottom: 2rem;
}
.footer .footer-container .pied-de-page .liens-utiles {
  display: inline-grid;
}
.footer .footer-container .pied-de-page .liens-utiles a {
  text-decoration: none;
  color: #595959;
}
.footer .copyright-text {
  text-align: center;
}
.footer .copyright-text p {
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */