{% extends 'base.html.twig' %}

{% block title %}Zayam - Contact
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('Succès') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}
		<div>
			<h1>Contactez-nous !</h1>
			<p>Vous avez une question ou une demande particulière ?</p>
			<p>Envoyez-nous un mail. Nous serons ravis de vous aider !</p>
		</div>
		{{ form(form) }}
	</div>
{% endblock %}