<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
	</head>

	<body>
        <h1>Demande de {{ contact.email }}</h1>
        <p>Sujet : {{ contact.subject }}</p>
        <p>Message :</p>
        <div>
            {{ contact.message|raw }}
        </div>
	</body>
</html>