{% extends 'base.html.twig' %}

{% block title %}Paiement réussi
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/styles/success.css') }}">
{% endblock %}

{% block body %}
	<section
		class="success-container">
		<!-- component -->
		<div class="content-container">
			<div class="svg-success">
				<img src="{{ asset('assets/uploads/svg/success.svg') }}">
			</div>
			<div class="text-content">
				<h3>Paiement réussi !</h3>
				<p>Merci d'avoir passé commande chez nous !</p>
				<p>Votre commande a été enregistrée.</p>
				<p>
					Bonne journée et à bientot !
				</p>
				<div class="home-button">
					<a href="{{ path('app_home') }}" class="boutton">
						retourner à l'accueil
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
