{% extends "base.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">
{% endblock %}

{% block body %}
    <h1>Mentions Légales</h1>
    <h3>MENTIONS LÉGALES</h3>
    <p>
        Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance 
        en l'économie numérique, il est précisé aux utilisateurs du site Zayam l'identité des 
        différents intervenants dans le cadre de sa réalisation et de son suivi.
    </p>
    <h3>Edition du site</h3>
    <p>
        Le présent site, accessible à l’URL www.zayam.fr (le « Site »), est édité par :
    </p>
    <h3>Hébergement</h3>
    <p>
        Le Site est hébergé par la société Shopify Inc., situé Google LLC 1600 Amphitheatre 
        Parkway Mountain View, CA 94043 USA, (contact téléphonique ou email : (+1) 650 253 0000).
    </p>
    <h3>Directeur de publication</h3>
    <p>
        Le Directeur de la publication du Site est Zayam
    </p>
    <h3>Nous contacter</h3>
    <p>
        Par email : contact.zayam@gmail.com
    </p>
    <h3>Données personnelles</h3>
    <p>
        Le traitement de vos données à caractère personnel est régi par notre Charte du 
        respect de la vie privée, disponible depuis la section "Charte de Protection des 
        Données Personnelles", conformément au Règlement Général sur la Protection des Données 
        2016/679 du 27 avril 2016 («RGPD»).
    </p>
{% endblock %}
